@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:global(body) {
    margin: 0;
    padding: 0;
    height: 100%;
  }


body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    @apply bg-stone-100 dark:bg-stone-800;
}

/* @layer base {
    html {
        background-color: #FAF8F8;
    }
} */
