@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap");

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
    @apply bg-soft-beige dark:bg-stone-800 text-gray-700 dark:text-white;
  }

  html {
    scrollbar-gutter: stable;
  }

  p {
    @apply font-plex text-balance;
  }

  a {
    @apply font-plex;
  }

  span {
    @apply font-source leading-7;
  }

  h1 {
    @apply font-source font-extrabold text-2xl md:text-4xl;
  }

  h2 {
    @apply font-source font-bold text-xl md:text-2xl;
  }
}
